<br />

<div class="footer">
  <div class="container">
    <div class="row">
       <span class="align-middle">
          <%= link_to 'West Des Monies Menu', westmenu_url, class:"btn btn-primary" %>
          <%= link_to 'Coop Kearney Menu', menu_url, class:"btn btn-primary" %>
        </span>
        &nbsp
       <span class="align-baseline">
          <%= link_to 'Grand Island Menu', coopgrandislandmenu_url, class:"btn btn-primary" %>
          <%= link_to 'Urbandale Menu', urbandalecoopmenu_url, class:"btn btn-primary" %>
       </span>
    </div>
  </div>
</div>
