<br />
<div class="col-sm-12 text-center">
  <div class="card">
    <div class="card-block">
      <p class="card-text">
        <div class="picture">
          <br />
          <div class="frosty col-5 offset-3 text-center">
            <br />
            <h3>About Us<h3>
          </div>
        </div>
        <br />
        <br />
        <div id ="shadow" class="booyah-box col-10 offset-1 text-center">
          <i><strong><%= image_tag("chickencooplogo.png", alt: "logo", size: 30) %>The Chicken Coop Sports Bar & Grill</i></strong>
          <i>was established in Kearney Nebraska March of 2002.
            With the success of the Kearney store, we have been able to expand to two more locations. One in Grand Island Nebraska opened February of 2004 and the other in West Des Moines Iowa opened July of 2005.
            We have many food items to choose from that will tickle your tonsils with the signature flavor that they provide.
            One of those items is our flame broiled buffalo wings.
            They are cooked over an open flame, then one of our homemade sauces is seared on to the wing to give it that one of a kind flavor.
            We offer home-style pizzas, burgers, salads, quesadillas, kid menu, and many other items.
            We also offer the best television sports viewing with all of your favorite sport packages. Need room to accommodate large groups?
            We offer convenient party areas at every location. Call today to book ahead.</i>
              </div>
            </div>
          </div>
        </div>
