<br />
<br />
<div class="booyah-box col-10 offset-1 text-center">
  <%= image_tag("chickencooplogo.png", alt: "logo", class: "image-class", size: "150") %>
  <h3>Contact Us</h3>
--------------------------
  <br />
  <h5 id="color">If you have any questions or would like to book a party, please let us know at.</h5>

  <h6>Chicken Coop</h6>
  <h6>2115 Ave A</h6>
    <h6>Kearney, NE 68847</h6>
      <h6>Phone: (308) 338-8500</h6>
        <h6>Fax: (308) 237-8510</h6>

  <br />

  <ol id="color">Scott Bauer (General Manager)</ol>
  <ol id="color">Collin Nabity (Owner Manager)</ol>
</div>
