<br />
<br />
<div class="booyah-box col-10 offset-1 text-center">
  <%= image_tag("chickencooplogo.png", alt: "logo", class: "image-class", size: "150") %>
  <h3>Contact Us</h3>

  <br />
  <h5 id="color">If you have any questions or would like to book a party, please let us know at.</h5>

  <h6>Chicken Coop</h6>
  <h6>12725 Meredith Drive</h6>
  <h6>Urbandale, IA. 50323</h6>
  <h6>(515) 334-COOP (2667)</h6>

  <br />

  <ol id="color">Dawn Beister (Owner Manager)</ol>
  <ol id="color">Ken Beister (Owner Manager)</ol>
  <ol id="color">Chris Bolter (General Manager)</ol>
</div>
