<br />

<div id ="shadow" class="booyah-box col-10 offset-1 text-center">
  <%= image_tag("chickencooplogo.png", alt: "logo", class: "image-class", size: "150") %>
  <h3>APPETIZERS</h3>
  -------------------------
  <br />

    <h5 id="red">Flame Broiled Wings</h5>
  <br />
    <ul id="boxshadow" class="flex-container space-evenly booyah-box">
      <li class="flex-item">10 wings one flavor: $10.99</li>
        <br />
        <br />
        <li class="flex-item">20 wings two flavors: $19.99</li>
        <br />
        <br />
        <li class="flex-item">30 wings three flavors: $27.99</li>
    </ul>


  <br />
  <br />

    <h5><strong>Wing Flavors:</strong></h5>
      <i>medium, hot, buck nasty hot, spicy garlic dijon, jack sauce, spicy bbq, honey dijon, sweet & sour, pepper teriyaki, jamaican jerk</i>
      <br />
      <br />
            <i id="red"><strong>New flavors:</strong></i>
            <p>honey bbq or jalapeño garlic</p>

  <h5>Boneless Wings</h5>
  <i>A hefty portion of breaded and deep-fried chicken bites served plain or with your choice of any wing flavor: $9.99</i>

  <br />
  <br />

  <h5>Buffalo Shrimp</h5>
  <i>Delicious buffalo shrimp lightly dusted and fried, covered in our medium wing sauce: $8.99</i>


  <br />
  <br />

  <div id="boxshadow" class="booyah-box col-10 offset-1 text-center">
  <h5 id="red">Nachos</h5>
  <i>a large platter of our homemade corn tortilla chips with your choice of taco meat, chicken or pork, topped with three cheeses, black olives, pico, sour cream and guacamole: $9.99</i>
  </div>

  <br />
  <br />

  <h5>Potato Skins</h5>
  <i>Traditional: smothered with cheddar-jack cheese and bacon crumbles, served with sour cream; Porky Style: pulled pork and cheddar jack cheese. Southwest Chicken: diced, grilled chicken seared with medium sauce, topped with cheddar jack cheese and pico de gallo</i>
  <br />
  <br />
  <li>Traditional: $7.49</li>
  <li>Porky Style: $8.49</li>
  <li>Southwest Chicken: $8.49</li>
  </li>

  <br />
  <br />

  <h5>Poppers: $6.29</h5>
  <i>cream cheese filled breaded jalapeno halves, fried golden brown</i>

  <br />
  <br />

  <h5>Pub Pickles: $6.59</h5>
  <i>crisp pickles in a premium beer batter and spicy seasoning</i>

  <br />
  <br />

  <h5>Gizzards: $6.99</h5>
  <i>golden breaded gizzards served with your choice of any wing sauce</i>

  <br />
  <br />

  <h5>Cheese Sticks: $6.49</h5>
  <i>crispy beer battered cheese sticks, served with marinara sauce</i>

  <br />
  <br />


  <h5>Cheeseballs: $7.99</h5>
  <i>twelve ounces of breaded wisconsin cheddar cheese curds, fried</i>

  <br />
  <br />

  <div id="boxshadow" class="booyah-box col-10 offset-1 text-center">
  <h5 id="red">Buffalo Chips: $4.49</h5>
  <i>a basket of french fried spicy chips, served with celery sticks and ranch dressing</i>
  </div>

  <br />
  <br />

  <h5>Garlic Shrooms: $7.99</h5>
  <i>twelve ounces of button mushrooms roasted in garlic, lightly breaded and deep-fried golden</i>

  <br />
  <br />

  <h5>Cheesy Pepper Dynabites: $5.99</h5>
  <i>chopped chili peppers with creamy jack/cheddar sauce, breaded and deepfried to a golden brown</i>

  <br />
  <br />

  <h5>Nachos: $7.49</h5>
  <i>homemade flour tortilla chips with taco meat, three cheeses, black olives, pico, sour cream and guacamole</i>

  <br />
  <br />

  <h5>Onion Rings: $6.29</h5>
  <i>twelve ounces of thick cut sweet rings of onion breaded and deep-fried</i>

  <br />
  <br />

  <h5>Irish Nachos: $8.49</h5>
  <i>seasoned potato wedges topped with taco meat, three cheeses, black olives, pico, sour cream and guacamole</i>

  <br />
  <br />

  <h5>Cauliflower: $5.99</h5>
  <i>White cauliflower florets lightly breaded and deep-fried</i>

  <br />
  <br />
  <i id="red">Extra dressing or salsa $0.25 ~ extra wing sauce $0.50</i>
  </p>


  <br />

  <h3 id="red">DINNER MENU</h3>
  <i>The following meals are served with your choice of two sides: french fries, sweet potato fries, potato salad, cole slaw, baked beans, cottage cheese signature sides (available with dinner items only) roasted cream corn, Baked Potato, buffalo chips, hashbrown casserole, california blend Vegetables</i>

  <br />
  <br />

  <i id="red">for 1.00 extra substitute a house salad or loaded baked potato</i>

  <br />
  <br />

  <div id="boxshadow" class="booyah-box col-10 offset-1 text-center">
    <h5 id="red">Jack Bourbon Steak: $16.99</h5>
    <i>our aged prime, ten ounce top sirloin seasoned and then seared with our popular jack sauce</i>
  </div>

  <br />
  <br />

  <h5>Peppercorn Steak: $16.99</h5>
  <i>our ten ounce, aged prime top sirloin rubbed with cracked black pepper then seared and served on a bed of creamy peppercorn sauce</i>

  <br />
  <br />

  <h3>Ribs</h3>
  <i>these baby back pork ribs are basted and broiled with a tangy bbq sauce</i>
  <br />
  <br />

  <li>1/2 rack: $13.49</li>
  <li>Full rack: $21.99</li>

  <br />
  <br />

  <h5>Prime Sirloin: $15.99</h5>
  <i>for those who enjoy a fine steak... a ten ounce, aged prime top sirloin seared to your liking</i>

  <br />
  <br />

  <h5>Jack Bourbon Grilled Salmon: $14.99</h5>
  <i>eight ounce cut of Alaskan salmon grilled then seared with our best selling jack sauce</i>

  <br />
  <br />

  <h5>Smothered Chicken: $10.99</h5>
  <i>a tender marinated seven ounce chicken breast, smothered with sautéed onions, mushrooms and bell peppers, finished with melted cheese</i>

  <br />
  <br />

  <h5>Shrimp: $11.99</h5>
  <i>twelve pieces of shrimp lightly breaded and fried to a succulent crisp golden brown</i>

  <br />
  <br />

  <i>+Add any wing sauce for (extra): $0.50</i>

  <br />
  <br />


  <h5>Jack Chicken: $11.99</h5>
  <i>a tender, seven ounce broiled breast of chicken, marinated and served over our ever popular jack sauce e</i>

  <br />
  <br />

  <h5>Walleye: $17.99</h5>
  <i>flaky walleye fillet perfectly prepared with lemon pepper seasoning, butter and fresh lemon, served piping hot in the foil it was baked in </i>

  <br />
  <br />

  <h5>Ribeye: $19.99</h5>
  <i>the pride of Nebraska... this twelve ounce. choice ribeye steak is seared to your specifications</i>

  <br />
  <br />

  <div id="boxshadow" class="booyah-box col-10 offset-1 text-center">
    <i id="red">an 18% Gratuity will be added to groups of 7 or more</i>:
    <i id="red">sorry no separate checks on groups of 7 or more</i>
  </div>

  <br />
  <br />

  <i id="red">*Indicates items may be cooked to order. Consuming raw or undercooked meats, poultry, seafood, shellfish, or eggs may increase your risk of foodborne illness</i></p>

  <br />
  <br />

  <h3>HOMESTYLE PIZZA</h3>
  <i>please allow extra cook time for these masterpieces</i>

  <br />
  <br />

  <h5>The Drunk Italian</h5>
  <i>italian sausage, onions, mushrooms and peppers marinated in amber ale, topped with our blended cheeses. (sorry we cannot modify)</i>
  <li>10": $12.99</li>
  <li>16": $19.99</li>

  <br />
  <h5 id="red">Meatlovers</h5>
  <i>hamburger, italian sausage, canadian bacon, pepperoni and bacon... lotsa meat!</i>
  <li>10": $12.99</li>
  <li>16": $19.99</li>

  <br />

  <h5>Pepper-Jackoroni</h5>
  <i>yes, you guessed it... pepperjack cheese, pepperoni and bell peppers</i>
  <li>10": $9.79</li>
  <li>16": $19.99</li>

  <br />

  <h5>Supreme Deluxe</h5>
  <i>this one is loaded with all of your favorites - a must try. mama mia, mama mia</i>
  <li>10": $12.99</li>
  <li>16": $19.99</li>

  <br />

  <h5>Oregano Veggie</h5>
  <i>mushrooms, bell peppers, onions, black olives and seasoned with an oregano blend</i>
  <li>10": $10.99</li>
  <li>16": $17.99</li>

  <br />

  <h5>Seven Cheese</h5>
  <i>mozzarella, provolone, romano, pepperjack, monterey jack, cheddar and parmesan cheese</i>
  <li>10": $9.99</li>
  <li>16": $16.99</li>

  <br />

  <h5>One Meat Topping</h5>
  <i>our cheese pie topped with your choice of one: hamburger, pepperoni, sausage or canadian bacon</i>
  <i>10": $11.99</i>
  <li>16": $18.99</li>

  <br />
  <br />

  <h3>DRINKS</h3>

  <br />

  <h5>Soft Drinks: $1.87</h5>
    <i>Up to 3 refills on the following:</i>
    <li>Iced Tea ~ Raspberry Iced Tea ~ Lemonade</li>
    <i>Coke, Diet Coke, Sprite, Dr Pepper, Diet Dr Pepper, Cherry Coke, Root Beer</i>
  <br />


  <br />
  <br />

  <h5><bold>Fountainhead Premium Soda Co.: $1.87</bold></h5>
  <i>Served on tap, hand crafted on location</i>
  <ul class="flex-container space-evenly">
    <li class="flex-item">Root Beer</li>
    <li class="flex-item">Cream Soda</li>
  </ul>

  <br />
  <br />

  <div id="boxshadow" class="booyah-box col-10 offset-1 text-center">
    <h5 id="red">An 18% Gratuity will be added to groups of 7 or more... Sorry no separate checks on groups of 7 or more</h5>
  </div>

  <br />
  <br />

  <h3 id="red">BURGERS</h3>
  <i>our char-broiled burgers are fresh, half pound certified black angus, with lettuce, tomato and dill pickle on a toasted brioche bun served with one: fries, sweet potato fries, potato salad, cole slaw, baked beans or cottage cheese</i>

  <br />
  <br />

  <i><strong>substitute a house salad or buffalo chips for 1.00</strong></i>

  <i><strong>or Onion Rings for 2.00</strong></i>

  <br />
  <br />

  <h5>Hamburger</h5>
  <li>charbroiled beef patty: $8.99</li>
    <li>with your choice of cheese: $9.99</li>

  <br />

  <h5>Mushroom Burger: $10.49</h5>
  <i>our seven ounce burger smothered with mushrooms and a cheddar cheese blend. yum!!</i>

  <br />
  <br />

  <h5>Patty Melt: $10.49</h5>
  <i>burger with sautéed onions, swiss cheese and a cheddar cheese blend, served on grilled marble rye</i>

  <br />
  <br />

  <h5>Bacon Burger: $10.49</h5>
  <i>seven ounce charbroiled burger topped with bacon slices and a cheddar cheese blend</i>

  <br />
  <br />

  <h5>Totally "Jack" Burger: $10.99</h5>
  <i>this juicy, charbroiled burger is topped with our jack sauce, mushrooms and pepperjack cheese</i>

  <br />
  <br />
  <br />
  <br />

  <h3>SANDWICHES</h3>
  <i>served with one: fries, mac & cheese, potato salad, cole slaw, baked beans or cottage cheese. Substitute a House Salad, Buffalo Chips for $1.00 or Onion Rings for $2.00.</i>

  <br />
  <br />

  <h5>Chicken Tender Basket: $9.99</h5>
  <i>not a sandwich, but it’s a classic!... chicken breast strips lightly breaded and fried to a golden brown </i>

  <br />
  <br />

  <h5>Chicken Tender Hoagie: $10.99</h5>
  <i>crispy chicken ,bacon and pepperjack cheese, with lettuce and tomato </i>

  <br />
  <br />

  <h5>Reuben Sandwich: $9.99</h5>
  <i>corned beef, sauerkraut and swiss cheese on grilled rye bread</i>

  <br />
  <br />

  <h5>Grilled Chicken: $9.99</h5>
  <i>grilled with your choice of wing flavor, served on a toasted ciabatta bun</i>

  <br />
  <br />

  <h5>Pork Tenderloin: $9.99</h5>
  <i>breaded pork tenderloin served on a hoagie bun</i>
    <li>add cheese: $0.50</li>

  <br />
  <br />

  <h5 id="red">Pulled Pork: $8.99</h5>
  <i>shredded barbecue pork piled high on a brioche bun</i>

  <br />
  <br />

  <h5>Philly Steak: $10.99</h5>
  <i>beef slices grilled with onions, mushrooms and red bell peppers, topped with our cheese blend</i>

  <br />
  <br />

  <h5>Club Sandwich: $8.99</h5>
  <i>slices of ham and turkey topped with bacon, lettuce, tomato and cheese, served on texas toast </i>

  <br />
  <br />

  <h5>Chicken Fried Steak: $9.99</h5>
  <i>breaded, tenderized beef steak served on a hoagie bun</i>

  <br />
  <br />

  <h5 id="red">Kielbasa & Kraut: $7.49</h5>
  <i>a third pound polish sausage smoked with sauerkraut, served on a fresh hoagie</i>

  <br />
  <br />

  <h5>Prime Rib: $10.99</h5>
  <i>slow roasted beef ribeye served on texas toast, sided with au jus </i>

  <br />
  <br />

  <h5>Fish Sandwich: $9.99</h5>
  <i>tavern battered cod, fried golden brown, served with french fries and cole slaw (no substitutions)</i>

  <br />
  <br />

  <h3>QUESADILLAS</h3>

  <br />
  <br />

  <h5>Three Cheese: $6.59</h5>
  <i>grilled flour tortilla stuffed with a cheddar-jack cheese blend</i>

  <br />
  <br />

  <div id="boxshadow" class="booyah-box col-10 offset-1 text-center">
    <h5 id="red">Three Pepper: $8.99</h5>
    <i>jalapeño peppers, red bell peppers and pepperjack cheese in a grilled flour tortilla</i>
  </div>

  <br />
  <br />

  <h5>Chicken: $9.99</h5>
  <i>your choice of buffalo spiced chicken, cajun seasoned chicken or plain chicken in a flour tortilla filled with green onions, cheddar, pepperjack and monterey jack cheese, then grilled</i>

  <br />
  <br />

  <h5>Beef and Cheese: $8.99</h5>
  <i>grilled flour tortilla filled with taco meat, cheddar, pepperjack and monterey cheese</i>

  <br />
  <br />

  <h3>SALADS</h3>

  <br />
  <br />

  <h5>Chicken Salad: $9.99</h5>
  <i>grilled chicken breast basted with your choice of one of our wing flavors, served on a bed of lettuce, cheese, tomatoes, cucumbers and onions, topped with crunchy tortilla strips and your choice of dressing</i>

  <br />
  <br />

  <h5>Taco Salad: $8.99</h5>
  <i>a bed of lettuce topped with taco meat, tomatoes, black olives, cheese, sour cream, guacamole and pico de gallo, served in a crisp flour tortilla bowl with your choice of dressing</i>

  <br />
  <br />

  <h5>House Salad: $4.49</h5>
  <i>a crisp bed of lettuce, onions, tomatoes, cucumbers and fried tortilla strips, served with your choice of dressing</i>

  <br />
  <br />

  <div id="boxshadow" class="booyah-box col-10 offset-1 text-center">
    <h5 id="red">Santa Fe Crispy Chicken: $9.99</h5>
    <i>chunks of crispy chicken, cheddar, pepperjack, monterey jack, pico and fresh fried tortilla strips on top of a bed of lettuce, served with your choice of dressing</i>
  </div>

  <br />
  <br />

    <i>dressings: ranch, fat free ranch, 1000 island, dorothy lynch, bleu cheese and honey mustard extra dressing: $0.50 </i>
</div>
