<br />

<div id ="shadow" class="booyah-box col-10 offset-1 text-center">
    <h3><strong>Chicken Coop 2115 A Ave Kearney, NE 68847</strong></h3>
    <%= image_tag("chickencooplogo.png", alt: "logo", class: "image-class", size: "150") %>
      <br />
    <html>
      <head>
        <style>
          /* Set the size of the div element that contains the map */
          #map {
            height: 400px;  /* The height is 400 pixels */
            width: 100%;  /* The width is the width of the web page */
           }
        </style>
      </head>
      <body>
        <!--The div element for the map -->
        <div id="map"></div>
        <script>
          // Initialize and add the map
          function initMap() {
            // The location of Uluru
            var kearney = {lat: 40.697028, lng: -99.079982};
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 20, center: kearney});
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: kearney, map: map});
          }
        </script>
        <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA90TTkK7g7dpS7-Hk6Zzo61nYkjHyvdx4&callback=initMap">
        </script>
      </body>
    </html>
  <br />
  <br />
        <div id ="shadow" class="booyah-box col-10 offset-1 text-center">
        <p>We have a non-smoking dining room that seats 95 and A full bar lounge area that seats 30. We have a large liquor selection with 15 beers on tap. A huge game room area with 4 pool tables, 4 dart boards, 2 foosball tables and other arcade games. A digital juke box with thousands of songs on demand. game room area has seating for parties up to 100 people with there own set of TV's

        We have 27 TVs (7 are High Definition). We carry the NFL Sunday Ticket, MLB Extra Innings, ESPN Game Plan College Football, ESPN Full court College BasketBall, MEGA March Madness, ESPN Package and the Fox Sports Package.

        Call Scott or Collin and reserve today. No charge for reserving parties.</p>


        Phone: (308) 338-8500

        <li>Store Hours:(Mon-Sat 11am - 1am)(Sun 12pm-12am)</li>
        <li>Kitchen Hours:(Mon-Wed 11am-10pm) (Thur 11am-12am)
         (Fri-Sat 11am-1am) (Sun 12pm-10pm)</li>
         <br />
         <%= link_to 'Menu', menu_url, class:"btn btn-primary" %>
         <%= link_to 'Specials', specials_url, class:"btn btn-primary" %>
         <%= link_to 'Contact Us', contactus_url, class:"btn btn-primary" %>
  </div>
</div>
