<br />
<br />
<div class="booyah-box col-10 offset-1 text-center">
  <%= image_tag("chickencooplogo.png", alt: "logo", class: "image-class", size: "150") %>
  <h3>Contact Us</h3>

  <br />
  <h5 id="color">If you have any questions or would like to book a party, please let us know at.</h5>
<br />
  <h6>Chicken Coop</h6>
  <h6>120 East 3rd st.</h6>
  <h6>Grand Island, NE 68801</h6>
  <h6>Phone: (308) 398-2500</h6>

  <br />

  <ol id="color">Dean Pegg(Owner Manager)</ol>
</div>
