<br />
<div id ="shadow" class="booyah-box col-10 offset-1 text-center">
      <h3><strong>Chicken Coop 120 East 3rd st. Grand Island, NE 68801</strong></h3>
      <%= image_tag("chickencooplogo.png", alt: "logo", class: "image-class", size: "150") %>

<html>
  <head>
    <style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        var grandisland = {lat: 40.925988285714, lng: -98.339749142857};
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 20, center: grandisland});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: grandisland, map: map});
      }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA90TTkK7g7dpS7-Hk6Zzo61nYkjHyvdx4&callback=initMap">
    </script>
  </body>
</html>


      <br />
      <br />
      <div id="shadow" class="booyah-box col-10 offset-1 text-center">
      <p>  Located in downtown Grand Island at the corner of 3rd & Sycamore. The Chicken Coop is a unique combination of sports bar and microbrewery. Our Two story triple brick building built in 1886 provides an atmosphere like no other place in town. Brewmaster Trevor Schaben of Thunderhead Brewery, gold medal winner 2004 International brewing competition, Provides us with over ten differet types of beer, some of which are brewed right at this location. With excelent food. great beer and a clean historic atmosphere "The Coop" as the locals call us offer:</p>

      <ol>1. Large smoke free area</ol>
      <ol>2. Outside beer garden</ol>
      <ol>3. Family friendly environment</ol>
      <ol>4. Ability to accomodate large groups</ol>
      <ol>5. Private party room</ol>
      <ol>6. Open 7 days a week</ol>
      <br />
        <p>Phone Number: (308) 398-2500</p>
        <ol>Store Hours: 7 days a week opening daily at 11 a.m.</ol>

        <ol>Store Hours:(Sunday 12-10
          Monday-Saturday 11:00 to midnight)</ol>
    <br />
    <%= link_to 'Menu', coopgrandislandmenu_url, class:"btn btn-primary" %>
    <%= link_to 'Contact Us', coopgrandislandcontactus_url, class:"btn btn-primary" %>
  </div>
</div>
