<br />

<div id ="shadow" class="booyah-box col-10 offset-1 text-center">
  <h3><strong>Coop West Des Moines</strong></h3>
  <%= image_tag("chickencooplogo.png", alt: "logo", class: "image-class", size: "150") %>

  <html>
    <head>
      <style>
        /* Set the size of the div element that contains the map */
        #map {
          height: 400px;  /* The height is 400 pixels */
          width: 100%;  /* The width is the width of the web page */
         }
      </style>
    </head>
    <body>
      <!--The div element for the map -->
      <div id="map"></div>
      <script>
        // Initialize and add the map
        function initMap() {
          // The location of Uluru
          var westdesmoines = {lat: 41.572276, lng: -93.730074};
          // The map, centered at Uluru
          var map = new google.maps.Map(
              document.getElementById('map'), {zoom: 20, center: westdesmoines});
          // The marker, positioned at Uluru
          var marker = new google.maps.Marker({position: westdesmoines, map: map});
        }
      </script>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA90TTkK7g7dpS7-Hk6Zzo61nYkjHyvdx4&callback=initMap">
      </script>
    </body>
  </html>
  <br />
  <br />
  <div id ="shadow" class="booyah-box col-10 offset-1 text-center">
  <p>Located on the corner of EP True Parkway and Grand Avenue (in the Hy-vee Shopping Center), The Chicken Coop has a small town feel that makes everyone feel at home. We have a dining room that seats 104 and a full bar that seats 55.

    Our menu offers a little of everything. We serve everything from Chicken Wings, Nachos, Hamburgers, Ribs, Steaks, Salads and much more. Don't forget to check out our lunch specials, dinner specials and our children's menu.

    We have 23 High Definition Televisions. We carry the NFL Sunday Ticket, MLB Extra Innings, Comcast Sports, Fox Sports Package and ESPN Package.</p>


    Phone: (515) 223-0088

    <li>1960 Grand Ave. Suite 23
      West Des Moines, IA. 50265</li>
    <li>Store Hours: Open daily at 11 a.m</li>
    <br />
    <%= link_to 'Menu', westmenu_url, class:"btn btn-primary" %>
    <%= link_to 'Contact Us', westcontactus_url, class:"btn btn-primary" %>
  </div>
</div>
