<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
       <%= image_tag 'slider1.jpg', class: 'd-block img-fluid' %>
       <div class="carousel-caption d-none d-md-block">
         <h3>Chicken Coop Sports bar & Grill</h3>
       </div>
    </div>
    <div class="carousel-item">
       <%= image_tag 'slider2.jpg', class: 'd-block img-fluid' %>
       <div class="carousel-caption d-none d-md-block">
         <h3>Chicken Coop Sports bar & Grill</h3>
       </div>
    </div>
    <div class="carousel-item">
       <%= image_tag 'slider3.jpg', class: 'd-block img-fluid' %>
       <div class="carousel-caption d-none d-md-block">
         <h3>Chicken Coop Sports bar & Grill</h3>
       </div>
    </div>
    <div class="carousel-item">
       <%= image_tag 'slider4.jpg', class: 'd-block img-fluid' %>
       <div class="carousel-caption d-none d-md-block">
         <h3>Chicken Coop Sports bar & Grill</h3>
       </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<br />
<br />


<div class="row feature text-center bottom-feature">

  <div class="col-sm-4">
    <div class="card">
      <%= image_tag("image1.png", alt: "logo", class: 'card-img-top img-fluid') %>
      <div class="card-block">
        <%= link_to 'Coop Kearney', coopkearney_url, class:"btn btn-primary" %>
        <br />
        <br />
        <p class="card-text">We have a non-smoking dining room that seats 95 and A full bar lounge area that seats 30. We have a large liquor selection with 15 beers on tap. A huge game room area with 4 pool tables, 4 dart boards, 2 foosball tables and other arcade games. A digital juke box with thousands of songs on demand. game room area has seating for parties up to 100 people with there own set of TV'sWe have 27 TVs (7 are High Definition). We carry the NFL Sunday Ticket, MLB Extra Innings, ESPN Game Plan College Football, ESPN Full court College BasketBall, MEGA March Madness, ESPN Package and the Fox Sports Package.
          Call Scott or Collin and reserve today. No charge for reserving parties.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <%= image_tag("image3.png", alt: "logo", class: 'card-img-top img-fluid') %>
      <div class="card-block">
        <%= link_to 'Urbandale Coop', urbandalecoop_url, class:"btn btn-primary" %>
        <br />
        <br />
        <p class="card-text">Located on 128th and Meredith Drive in Urbandale. The Chicken Coop was opened in April of 2012 and offers a full menu and enough TV's to watch almost any sporting event. There is a daily lunch and drink specials. We carry the Sunday NFL Ticket, MLB Extra Innings, Comcast Sports, Fox Sports Package, Big Ten Network, Golf Network and the SEC Network.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <%= image_tag("image4.png", alt: "logo", class: 'card-img-top img-fluid') %>
      <div class="card-block">
        <%= link_to 'West Des Moines', coopwestdesmoines_url, class:"btn btn-primary" %>
        <br />
        <br />
        <p class="card-text">Located on the corner of EP True Parkway and Grand Avenue (in the Hy-vee Shopping Center), The Chicken Coop has a small town feel that makes everyone feel at home. We have a dining room that seats 104 and a full bar that seats 55.
          Our menu offers a little of everything. Don't forget to check out our lunch specials, dinner specials.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <%= image_tag("image2.png", alt: "logo", class: 'card-img-top img-fluid') %>
      <div class="card-block">
        <%= link_to 'Coop Grand Island', coopgrandisland_url, class:"btn btn-primary" %>
        <br />
        <br />
        <p class="card-text">Located in downtown Grand Island at the corner of 3rd & Sycamore. The Chicken Coop is a unique combination of sports bar and microbrewery. Our Two story triple brick building built in 1886 provides an atmosphere like no other place in town. Brewmaster Trevor Schaben of Thunderhead Brewery, gold medal winner 2004 International brewing competition, Provides us with over ten differet types of beer, some of which are brewed right at this location. With excelent food. great beer and a clean historic atmosphere "The Coop" as the locals call us offer:
        <dd>1. Large smoke free area</dd>
        <dd>2. Outside beer garden</dd>
        <dd>3. Family friendly environment</dd>
        <dd>4. Ability to accomodate large groups</dd>
        <dd>5. Private party room</dd>
        <dd>6. Open 7 days a week </dd></p>
      </div>
    </div>
  </div>


  <script>
    $('.carousel').carousel({
      interval: 3000
    })
  </script>
</div>
