<br />
<br />
<div class="booyah-box col-10 offset-1 text-center">
    <%= image_tag("chickencooplogo.png", alt: "logo", class: "image-class", size: "150") %>
  <h3>Want to join the flock?</h3>

     <li>Are you intrested in a fun filled and exciting job with team coop. Each location is a independent operator where an owner/manager leads their team. We are interested in highly motivated individuals who want to provide our high quality of foods,drinks and service.</li>
     <h8><%= link_to "Download resume here", asset_path("The_Chicken_Coop_Application.pdf") %></h8>
  <br />
  <br />
  <div class="row feature text-center bottom-feature">

    <div class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <h5>Coop Kearney
              2115 Ave A
              Kearney, NE 68847</h5>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <h5>Coop Grand Island
              120 East 3 St.
              Grand Island, NE 68801</h5>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <h5>Coop West DesMoines
              1960 Grand Ave #23
              West DesMoines, IA 50265</h5>
        </div>
      </div>
    </div>
  </div>
</div>
