<br />

<div id ="shadow" class="booyah-box col-10 offset-1 text-center">
  <%= image_tag("chickencooplogo.png", alt: "logo", class: "image-class", size: "150") %>
  <h3>APPETIZERS</h3>
  -------------------------
  <p>extra ranch dressing or salsa $0.25</p>

  <h5>Chicken Wings</h5>

  <i>Wing Flavors - Spicy: Honey Dijon, Medium, Spicy Garlic Dijon, Hot, Wasabanero, Jalapeño Garlic. Sweet: Sweet n' Sour, Jack Sauce, Pepper Teriyaki, Jamaican Jerk. Mild: Honey BBQ, Spicy BBQ, Garlic Parmesan. Dry rub: Cajun</i>

  <li>10 Wing Basket (1 flavor): $8.99</li>

  <li>20 Wing Basket (2 flavors): $16.99</li>

  <li>40 Wing Basket (4 flavors): $31.99</li>

  <ol>Add ranch or bleu cheese for: $0.25</ol>

</p>
<br />
  <h5>Boneless Wings</h5>
  <i>A hefty portion of breaded and deep-fried chicken bites served plain or with your choice of any wing flavor</i>

  <li>Add ranch or bleu cheese for: $0.25</li>

  <li>Chicken Feeder: $12.99:
  can't decide?... try this delicious combination of five wings, buffalo chips, onion rings and cheese sticks (no substitutions)</li>

  <br />
  <br />

  <h5>Potato Skins</h5>
  <i>Traditional: smothered with cheddar-jack cheese and bacon crumbles, served with sour cream; Porky Style: pulled pork and cheddar jack cheese. Southwest Chicken: diced, grilled chicken seared with medium sauce, topped with cheddar jack cheese and pico de gallo</i>
  <br />
  <br />
  <li>Traditional: $7.49</li>
  <li>Porky Style: $8.49</li>
  <li>Southwest Chicken: $8.49</li>
  </li>

<br />
<br />

  <h5>Poppers: $6.29</h5>
  <i>cream cheese filled breaded jalapeno halves, fried golden brown</i>

  <br />
  <br />

  <h5>Pub Pickles: $6.59</h5>
  <i>crisp pickles in a premium beer batter and spicy seasoning</i>

    <br />
    <br />

  <h5>Gizzards: $6.99</h5>
  <i>golden breaded gizzards served with your choice of any wing sauce</i>

  <br />
  <br />

  <h5>Cheese Sticks: $6.49</h5>
  <i>crispy beer battered cheese sticks, served with marinara sauce</i>

  <br />
  <br />


  <h5>Cheeseballs: $7.99</h5>
  <i>twelve ounces of breaded wisconsin cheddar cheese curds, fried</i>

  <br />
  <br />

  <h5>Buffalo Chips: $4.49</h5>
  <i>a basket of french fried spicy chips, served with celery sticks and ranch dressing</i>

  <br />
  <br />

  <h5>Garlic Shrooms: $7.99</h5>
  <i>twelve ounces of button mushrooms roasted in garlic, lightly breaded and deep-fried golden</i>

  <br />
  <br />

  <h5>Southwest Munchers: $4.49</h5>
  <i>diced potatoes, cheddar cheese and jalapeño bites, lightly breaded and fried to a crispy golden brown</i>

  <br />
  <br />

  <h5>Nachos: $7.49</h5>
  <i>homemade flour tortilla chips with taco meat, three cheeses, black olives, pico, sour cream and guacamole</i>

  <br />
  <br />

  <h5>Onion Rings: $6.29</h5>
  <i>twelve ounces of thick cut sweet rings of onion breaded and deep-fried</i>

  <br />
  <br />

  <h5>Irish Nachos: $8.49</h5>
  <i>seasoned potato wedges topped with taco meat, three cheeses, black olives, pico, sour cream and guacamole</i>

  <br />
  <br />

</p>
  <h3>BURGERS</h3>
  <i>Our burgers are seven ounce ground chuck, onion seasoned patties on a toasted ciabatta bun served with one: fries, mac & cheese, potato salad, cole slaw, cottage cheese or baked beans. Substitute a house Salad, Southwest munchers or Buffalo Chips for $0.50 or onion rings for $1.59, lettuce, tomato pickle and onion upon request. Add an egg for $0.99
  Hamburger</i>

  <i>our seven ounce charbroiled beef patty: $7.79</i>

  <i>Topped with your choice of cheese: $8.29</i>

  <br />
  <br />

  <h5>Mushroom Burger: $8.99</h5>
  <i>our seven ounce burger smothered with mushrooms and a cheddar cheese blend. yum!!</i>

  <br />
  <br />

  <h5>Patty Melt: $8.99</h5>
  <i>burger with sautéed onions, swiss cheese and a cheddar cheese blend, served on grilled marble rye</i>

  <br />
  <br />

  <h5>Bacon Burger: $9.59</h5>
  <i>seven ounce charbroiled burger topped with bacon slices and a cheddar cheese blend</i>

  <br />
  <br />

  <h5>Totally "Jack" Burger: 9.59</h5>
  <i>this juicy, charbroiled burger is topped with our jack sauce, mushrooms and pepperjack cheese</i>

  <br />
  <br />

  <h3>HOMESTYLE PIZZA</h3>
  <i>please allow extra cook time for these masterpieces</i>

  <br />
  <br />

  <h5>The Drunk Italian</h5>
  <i>italian sausage, onions, mushrooms and peppers marinated in amber ale, topped with our blended cheeses. (sorry we cannot modify)</i>
    <li>10": $9.79</li>
    <li>16": $19.99</li>

    <br />
  <h5>Porky's BBQ Pie</h5>
  <i>this crust is spread with bbq sauce, shredded pork, red onions and our blended cheeses</i>
    <li>10": $9.79</li>
    <li>16": $19.99</li>

  <br />

  <h5>Pepper-Jackoroni</h5>
  <i>yes, you guessed it... pepperjack cheese, pepperoni and bell peppers</i>
  <li>10": $9.79</li>
  <li>16": $19.99</li>

  <br />

  <h5>Supreme Deluxe</h5>
  <i>this one is loaded with all of your favorites - a must try. mama mia, mama mia</i>
  <li>10": $10.49</li>
  <li>16": $20.99</li>

  <br />

  <h5>Oregano Veggie</h5>
  <i>mushrooms, bell peppers, onions, black olives and seasoned with an oregano blend</i>
  <li>10": $8.49</li>
  <li>16": $18.49</li>

  <br />

  <h5>Chicken Ranch</h5>
  <i>our delicious crust is topped with ranch dressing then covered with diced grilled chicken tossed with your choice of wing sauce, finished with red onion, bell peppers and our pizza cheese blend</i>
  <li>10": $9.79</li>
  <li>16": $19.99</li>

  <br />

  <h5>Seven Cheese</h5>
  <i>mozzarella, provolone, romano, pepperjack, monterey jack, cheddar and parmesan cheese</i>
  <li>10": $8.49</li>
  <li>16": $15.99</li>

  <br />

  <h5>One Meat Topping</h5>
  <i>our cheese pie topped with your choice of one: hamburger, pepperoni, sausage or canadian bacon</i>
  <i>10": $9.49</i>
  <li>16": $18.99</li>

  <li>+Add even more meat (per topping): $1.39</li>

  <li>+Veggies (per topping): $0.89</li>

<br />

  <h3>DINNER MENU</h3>
  <i>Dinners Are Served all Day. The Following Meals Are Served with your Choice of Two Sides: French Fries, Potato Salad, Cole Slaw, Cottage Cheese, Baked Beans, Baked Potato (After 4 Pm Only), Buffalo Chips, Mac & Cheese, Hashbrown Casserole, California Veggie Blend. For $0.50 Extra Substitute a House Salad Or Loaded Baked Potato</i>

<br />
<br />
  <h5>Jack Bourbon Steak: $17.29</h5>
  <i>a blue grass classic. our choice, twelve ounce black angus top sirloin seasoned and then seared with our popular jack sauce</i>

<br />
<br />
  <h5>Windsor Chop: $12.49</h5>
  <i>twelve ounce windsor pork chop seared with your favorite wing sauce...a great choice!</i>

<br />
<br />

  <h3>Ribs</h3>
  <i>these baby back pork ribs are basted and broiled with a tangy bbq sauce</i>

  <br />
  <br />

  <li>1/2 rack: $13.49</li>
  <li>Full rack: $21.99</li>

  <br />
  <br />

  <h5>Broiled Chicken: $9.99</h5>
  <i>a tender, seven ounce broiled breast of chicken marinated and served with your choice of wing sauce</i>

  <br />
  <br />

  <h5>Top Sirloin: $15.99</h5>
  <i>for those who enjoy a fine steak... a twelve ounce, lean choice black angus top sirloin seared to your liking</i>

  <br />
  <br />

  <h5>Smothered Chicken: $10.99</h5>
  <i>a tender marinated seven ounce chicken breast, smothered with sautéed onions, mushrooms and bell peppers, finished with melted cheese</i>

  <br />
  <br />

  <h5>Shrimp: $11.99</h5>
  <i>twelve pieces of shrimp lightly breaded and fried to a succulent crisp golden brown</i>

  <br />
  <br />

  <i>+Add any wing sauce for (extra): $0.50</i>

  <br />
  <br />


  <h5>Peppercorn Steak: $17.29</h5>
  <i>a twelve ounce, choice black angus top sirloin rubbed with cracked black pepper then seared and served on a bed of creamy peppercorn sauce</i>

  <br />
  <br />


  <h5>Grilled Salmon: $12.49</h5>
   <i>two, 4 ounce fillets of grilled alaskan salmon prepared with any of our wing flavors, cajun seasoning or lemon pepper</i>

   <br />
   <br />

  <h3>DRINKS</h3>

  <br />

  <h5>Soft Drinks: $2.49</h5>

  <br />

  <i>up to 3 refills on the following: Iced Tea, Raspberry Iced Tea, Lemonade, Coke, Diet Coke, Sprite, Dr Pepper, Diet Dr Pepper, Cherry Coke, Root Beer</i>

  <br />
  <br />

  <h5>Coffee: $1.69</h5>
  <i>freshly brewed. regular or decaf</i>

  <br />
  <br />

  <h3>SANDWICHES</h3>
  <i>served with one: fries, mac & cheese, potato salad, cole slaw, cottage cheese or baked beans. Substitute a House Salad, Southwest Munchers or Buffalo Chips for $0.50 or Onion Rings for $1.59. Lettuce, Tomato Pickle and Onion upon Request</i>

  <br />
  <br />

  <h5>Chicken Tender Basket: $8.49</h5>
  <i>ok, we know this isn't a sandwich, but it's a classic... tender, juicy chicken breast strips lightly breaded and fried to a golden brown</i>

  <i>+Add a wing sauce for (extra): $0.50</i>

  <br />
  <br />

  <h5>Chicken Tender Hoagie: $8.29</h5>
  <i>crunchy chicken topped with bacon and melted pepperjack cheese, served on a hoagie bun</i>

  <i>+Add a wing sauce for (extra): $0.50</i>

  <br />
  <br />

  <h5>Reuben Sandwich: $8.79</h5>
  <i>corned beef, sauerkraut and swiss cheese on grilled rye bread</i>

  <br />
  <br />

  <h5>Grilled Chicken: $8.99</h5>
  <i>grilled with your choice of wing flavor, served on a toasted ciabatta bun</i>

  <br />
  <br />

  <h5>Pork Tenderloin: $8.49</h5>
  <i>breaded pork tenderloin served on a hoagie bun</i>

  <br />
  <br />

  <h5>Pulled Pork: $7.59</h5>
  <i>shredded barbecue pork piled high on a toasted ciabatta bun</i>

  <br />
  <br />

  <h5>Philly Steak: $8.99</h5>
  <i>beef slices grilled with onions, mushrooms and bell peppers, topped with our blend of six cheeses</i>

  <br />
  <br />

  <h5>Chicken Fried Steak: $8.49</h5>
  <i>breaded, tenderized beef steak served on a hoagie bun</i>

  <br />
  <br />

  <h5>Kielbasa & Kraut: $7.49</h5>
  <i>a third pound polish sausage smoked with sauerkraut, served on a fresh hoagie</i>

  <br />
  <br />

  <h5>French Dip: $8.99</h5>
  <i>thin sliced prime rib piled high and served on a hoagie bun sided with au jus</i>

  <br />
  <br />

  <h5>Fish & Chips: $7.99</h5>
  <i>tavern battered cod, fried golden brown, served with french fries and cole slaw (no substitutions)</i>

  <br />
  <br />

  <h3>SIDES ORDERS</h3>

  <br />
  <br />

  <h5>Fries: $2.49</h5>

  <br />
  <br />

  <h5>Cole Slaw: $2.49</h5>

  <br />
  <br />

  <h5>Cottage Cheese: $2.49</h5>

  <br />
  <br />

  <h5>Baked Beans: $2.49</h5>

  <br />
  <br />

  <h5>Potato Salad: $2.49</h5>

  <br />
  <br />

  <h5>Mac & Cheese: $2.49</h5>

  <br />
  <br />

  <h3>QUESADILLAS</h3>

  <br />
  <br />

  <h5>Three Cheese: $6.59</h5>
  <i>grilled flour tortilla stuffed with a cheddar-jack cheese blend</i>

  <br />
  <br />

  <h5>Beef and Cheese: $7.79</h5>
  grilled flour tortilla filled with taco meat and a cheddar-jack cheese blend

  <br />
  <br />

  <h5>Chicken: $8.29</h5>
  <i>your choice of cajun seasoned, plain or any of our wing flavored chicken in a flour tortilla filled with a cheddar-jack cheese blend... grilled to perfection</i>

  <br />
  <br />

  <h5>Three Pepper: $7.59</h5>
  <i>jalapeño peppers, bell peppers and pepperjack cheese in a grilled flour tortilla</i>

  <br />
  <br />

  <h3>SALADS & WRAPS</h3>

  <br />
  <br />

  <h5>dressings: Hidden Valley ranch, light ranch, 1000 island, dorothy lynch, bleu cheese, honey mustard, fat free dorothy lynch, light italian, vinegar & oil extra dressing - $0.25</h5>

  <br />
  <br />

  <h5>Chicken Salad: $8.49</h5>
    <i>grilled chicken breast basted with your choice of one of our wing flavors, served on a bed of lettuce, cheese, tomatoes, cucumbers and onions, topped with crunchy tortilla strips and your choice of dressing</i>

    <br />
    <br />

    <h5>Santa Fe Crispy Chicken: $8.49</h5>
    <i>chunks of crispy chicken, cheddar, pepperjack, monterey jack, pico and fresh fried tortilla strips on top of a bed of lettuce, served with your choice of dressing</i>

    <br />
    <br />

    <h5>Taco Salad: $8.49</h5>
    <i>a bed of lettuce topped with taco meat, tomatoes, black olives, cheese, sour cream, guacamole and pico de gallo, served in a crisp flour tortilla bowl with your choice of dressing</i>

    <br />
    <br />

    <i>+Substitute chicken, add: $0.50</i>

    <br />
    <br />

    <h5>House Salad: $3.29</h5>
    <i>a crisp bed of lettuce, onions, tomatoes, cucumbers and fried tortilla strips, served with your choice of dressing</i>

    <br />
    <br />

    <h5>Southwest Chicken Wrap: $8.29</h5>
    <i>diced, grillled chicken tossed in your choice of wing sauce, with shredded lettuce, cheddar jack cheese and pico de gallo wrapped in a flour tortilla, served with your choice of one side</i>

    <br />
    <br />

    <h5>Southwest Steak Wrap: $8.99</h5>
      <i>sliced, aged, seasoned flat iron steak, with shredded lettuce, cheddar jack cheese and pico de gallo wrapped in a flour tortilla, served with your choice of one side</i>

    <br />
    <br />

    <i>*Indicates items may be cooked to order. Consuming raw or undercooked meats, poultry, seafood, shellfish, or eggs may increase your risk of foodborne illness</i></p>

</div>
