<br />

<div id="shadow" class="booyah-box col-10 offset-1 text-center">
<%= image_tag("chickencooplogo.png", alt: "logo", class: "image-class", size: "150") %>
  <h3 id="red">SPECIALS</h3>

  <br />

  <h5>Kearney Lunch Specials</h5>

  <br />

  <h6>Monday:</h6>
  <i>Steak Sandwich with choice of side item: $7.99</i>

  <br />
  <br />

  <h6>Tuesday:</h6>
  <i>Any Chicken or Taco Salad with Choice of Ice Tea or soda for $7.49</i>

  <br />
  <br />

  <h6>Wednesday:</h6>
  <i>Turkey BLT Sandwich with choice of side item for $6.99</i>

  <br />
  <br />

  <h6>Thursday:</h6>
  <i>Poboy Shrimp Sandwich with choice of side item for $6.99</i>

  <br />
  <br />

  <h6>Friday:</h6>
  <i>Prime Rib Sandwich with choice of side item for $8.79</i>

  <br />
  <br />

  <h6>Saturday:</h6>
  <i>Pulled Pork Sandwich with choice of side item for $6.99</i>

  <br />
  <br />

  <h6>Sunday:</h6>
  <i>Chicken Fried Steak with Mash Potatoes and Corn $8.99</i>

  <br />
  <br />
  <i id ="red">JOIN OUR TEXT CLUB
    TEXT PBA COOP TO 28444 FOR WEEKLEY UPDATES ON OUR HOME STYLE LUNCH SPECIALS</i>
</div>
