<br />
<div class="col-sm-12 text-center">
  <div class="card">
    <div class="card-block">
      <p class="card-text">
        <div class="sports">
          <br />
          <div class="frosty col-8 offset-2 text-center">
            <br />
            <h3>Sport Links<h3>
          </div>
        </div>
----------------------


      <br />
      <br />
      <div class="booyah-box col-10 offset-1 text-center">
       <h5>Local Nebraska Sports:</h5>
       <dl><a href="https://www.Huskers.com">Huskers</a></dl>
       <dl><a href="https://www.Lopers.com">Lopers</a></dl>
       <dl><a href="https://www.Journalstar.com">Journalstar</a></dl>
       <dl><a href="https://www.theindependent.com">TheIndependent</a></dl>
       <dl><a href="https://www.Kearneyhub.com">Kearneyhub</a></dl>
       <dl>Creighton Uni.</dl>
       <dl>Hastings College</dl>

       <br />

       <h5>Local Iowa Sports:</h5>
       <dl><a href="https://www.cyclones.com">Cyclones</a></dl>
       <dl><a href="https://hawkeyesports.com">Hawkeyesports</a></dl>
       <dl><a href="https://www.desmoinesregister.com">Desmoinesregister</a></dl>
       <dl><a href="https://www.unipanthers.com">Unipanthers</a></dl>
       <br />

       <h5>General Sports:</h5>
       <dl><a href="https://www.cstv.com">CSTV</a></dl>
       <dl><a href="https://www.ESPN.com">ESPN</a></dl>
       <dl><a href="https://cbs.Sportsline.com">Sportsline</a></dl>
       <dl><a href="https://www.Foxsports.com">Foxsports</a></dl>

       <br />

       <h5>Football:</h5>
        <dl><a href="https://www.NFL.com">NFL.com</a></dl>

        <br />

       <h5>Hockey:</h5>
        <dl><a href="https://www.NHL.com">NHL.com</a></dl>

        <br />

       <h5>Soccer:</h5>
       <dl><a href="https://www.Menacesoccer.com">Menacesoccer</a></dl>
       <dl><a href="https://www.Drakebulldogs.org">Drakebulldogs</a></dl>

       <br />

       <h5>Baseball:</h5>
        <dl><a href="https://www.MLB.com">MLB</a></dl>
        <br />

       <h5>Basketball:</h5>
       <dl><a href="https://www.NBA.com">NBA</a></dl>

       <br />

       <h5>Racing:</h5>
        <dl><a href="https://www.Nascar.com">Nascar</a></dl>

        <br />

       <h5>Golf:</h5>
        <dl><a href="https://www.PGA.com">PGA</a></dl>
      </div>
    </div>
  </div>
</div>
