<br />
<div id ="shadow" class="booyah-box col-10 offset-1 text-center">
      <h3><strong>Chicken Coop 12725 Meredith Drive Urbandale, IA. 50323</strong></h3>
      <%= image_tag("chickencooplogo.png", alt: "logo", class: "image-class", size: "150") %>

        <html>
          <head>
            <style>
              /* Set the size of the div element that contains the map */
              #map {
                height: 400px;  /* The height is 400 pixels */
                width: 100%;  /* The width is the width of the web page */
               }
            </style>
          </head>
          <body>
            <!--The div element for the map -->
            <div id="map"></div>
            <script>
              // Initialize and add the map
              function initMap() {
                // The location of Uluru
                var urbandale = {lat: 41.6443605, lng: -93.7929048};
                // The map, centered at Uluru
                var map = new google.maps.Map(
                    document.getElementById('map'), {zoom: 20, center: urbandale});
                // The marker, positioned at Uluru
                var marker = new google.maps.Marker({position: urbandale, map: map});
              }
            </script>
            <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA90TTkK7g7dpS7-Hk6Zzo61nYkjHyvdx4&callback=initMap">
            </script>
          </body>
        </html>
      <br />
      <br />
      <div id ="shadow" class="booyah-box col-10 offset-1 text-center">
      <p>Located on 128th and Meredith Drive in Urbandale.
        The Chicken Coop was opened in April of 2012 and offers a full menu and enough TV's to watch almost any sporting event.
        Our menu offers items anywhere from Wings to Steaks and Burgers to Ribs. There is a childrens menu and daily lunch and drink specials.
        We carry the Sunday NFL Ticket, MLB Extra Innings, Comcast Sports, Fox Sports Package, Big Ten Network, Golf Network and the SEC Network.
        We also televise some UFC PPV.</p>

        <p>Phone Number: (515) 334-COOP (2667)</p>
        <li>Store Hours:
        7 days a week opening daily at 11 a.m.</li>

        <li>Kitchen hours:
        11 a.m. to 10 p.m.</li>

    <br />
    <%= link_to 'Menu', urbandalecoopmenu_url, class:"btn btn-primary" %>
    <%= link_to 'Contact Us', contacturbandale_url, class:"btn btn-primary" %>
  </div>
</div>
