<br />

<div id ="shadow" class="booyah-box col-10 offset-1 text-center">
  <%= image_tag("chickencooplogo.png", alt: "logo", class: "image-class", size: "150") %>
  <h3>APPETIZERS</h3>
  -------------------------
  <br />

  <h5 id="red">Flame Broiled Wings</h5>
  <br />
  <ul id="boxshadow" class="flex-container space-evenly booyah-box">
    <li class="flex-item">10 wings one flavor: $9.99</li>
    <br />
    <br />
    <li class="flex-item">20 wings two flavors: $17.99</li>
    <br />
    <br />
    <li class="flex-item">30 wings three flavors: $31.99</li>
  </ul>


  <br />
  <br />

  <h5 id="red"><strong>Wing Flavors:</strong></h5>
  <i>Honey Dijon ~ Medium ~ Spicy Garlic Dijon Jalapeño Garlic ~ Hot ~ Buck Nasty Hot ~ Wasabanero</i>
  <br />
  <br />
  <i>Sweet: Jack Sauce ~ Pepper Teriyaki ~ Jamaican Jerk</i>
  <br />
  <br />
  <i>Mild: Mild ~ Honey BBQ ~ Spicy BBQ ~ Garlic Parmesan</i>

  <br />
  <br />

  <h5>Boneless Wings</h5>
  <i>A hefty portion of breaded and deep-fried chicken bites served plain or with your choice of any wing flavor: $9.99</i>

  <br />
  <br />

  <h5>Chicken Feeder: $11.99</h5>
  <i>can’t decide?... try this delicious combination of five wings, buffalo chips, onion rings and cheese sticks (no substitutions) </i>

  <br />
  <br />

  <h5 id="red">Potato Skins</h5>
  <i>Traditional: smothered with cheddar-jack cheese and bacon crumbles, served with sour cream; Porky Style: pulled pork and cheddar jack cheese. Southwest Chicken: diced, grilled chicken seared with medium sauce, topped with cheddar jack cheese and pico de gallo</i>
  <li>Traditional: $8.99</li>
  <li>Porky Style: $9.99</li>

  <br />
  <br />

  <h3><strong>Classic Coop Favorites</strong></h3>
  <i><strong>Garlic Mushrooms ~ Cheeseballs ~ Onion Rings ~ Cauliflower ~ Southwest Munchers</strong></i>
  <br />
  <i>choose one: $8.99 or choose two: $14.95</i>

  <br />
  <br />

  <h5>Buffalo Shrimp: $8.99</h5>
  <i>Delicious buffalo shrimp lightly dusted and fried, covered in our medium wing sauce</i>

  <br />
  <br />

    <h5>Nachos: $9.99</h5>
    <i>homemade flour tortilla chips with taco meat, pulled pork or chicken, three cheeses, black olives, pico, sour cream and guacamole </i>

  <br />
  <br />

  <h5>Poppers: $6.99</h5>
  <i>cream cheese filled breaded jalapeno halves, fried golden brown</i>

  <br />
  <br />

  <h5>Pub Pickles: $8.49</h5>
  <i>crisp pickles in a premium beer batter and spicy seasoning</i>

  <br />
  <br />

  <h5>Gizzards: $7.99</h5>
  <i>golden breaded gizzards served with your choice of any wing sauce</i>

  <br />
  <br />

  <h5>Cheese Sticks: $7.99</h5>
  <i>crispy beer battered cheese sticks, served with marinara sauce</i>

  <br />
  <br />


  <h5>Irish Nachos: $9.99</h5>
  <i>seasoned potato wedges topped with taco meat, three cheeses, black olives, pico, sour cream and guacamole</i>

  <br />
  <br />

  <div id="boxshadow" class="booyah-box col-10 offset-1 text-center">
    <h5 id="red">Buffalo Chips: $4.49</h5>
    <i>a basket of french fried spicy chips, served with celery sticks and ranch dressing</i>
  </div>

  <br />
  <br />

  <i id="red">Extra ranch, bleu cheese or salsa: $0.50</i>
  </p>


  <br />

  <h3 id="red">DINNER MENU</h3>
  <i>The following meals are served with your choice of two sides: french fries, potato salad, cole slaw, cottage cheese, baked beans</i>

  <br />
  <br />

  <i id="red">Signature Sides:  COUNTRY VEGGIES ~ hashbrown casserole
    california blend ~ macaroni & cheese ~ buffalo chips
    mashed potatoes with gravy ~ (Baked Potato... after 5:00 pm)</i>
  <br />
  <i id="red">substitute a house salad for 1.49 or a loaded baked potato for .99</i>

  <br />
  <br />

  <h5>Pot Roast: $11.99</h5>
  <i>chunks of pot roast smothered in brown gravy, served with mashed potatoes and country vegetables (sorry, no substitutions)</i>

  <br />
  <br />

    <h5>Jack Bourbon Grilled Salmon: $14.49</h5>
    <i>eight ounce Alaskan salmon fillet grilled then seared with our best selling jack sauce... delicious!</i>

  <br />
  <br />

  <h5>* Top Sirloin: $16.99</h5>
  <i>a twelve ounce, lean choice black angus top sirloin seared to your liking</i>

  <br />
  <br />

  <div id="boxshadow" class="booyah-box col-10 offset-1 text-center">
    <h3 id="red">Ribs</h3>
    <i>these baby back pork ribs are basted and broiled with a tangy bbq sauce</i>
    <li>1/2 rack: $15.99</li>
    <li>full rack: $22.99</li>
  </div>

  <br />
  <br />

  <h5>Shrimp: $14.99</h5>
  <i>ten pieces of butterflied shrimp lightly breaded and fried to a succulent crisp golden brown</i>

  <br />
  <br />

  <h5>Cod: $14.99</h5>
  <i>one flaky cod fillet, lightly breaded and fried to a golden brown, served with tartar sauce </i>

  <br />
  <br />

  <div id="boxshadow" class="booyah-box col-10 offset-1 text-center">
  <h5 id="red">Street Tacos</h5>
  <i>three flour or corn tortillas with your choice of taco meat, steak or chicken with cilantro and onion, served with sour cream, pico de gallo and rice</i>
  </div>

  <br />
  <br />

  <h5>Grilled Chicken: $11.49</h5>
  <i>a tender, seven ounce grilled breast of chicken marinated and served with any wing sauce or lemon pepper</i>

  <br />
  <br />

  <h5>* Ribeye: $19.99</h5>
  <i>the pride of Nebraska... this twelve ounce. choice ribeye steak is seared to your specifications</i>

  <br />
  <br />


  <i><strong>We accept most credit cards</strong></i>

  <br />
  <br />

  <i id="red">*Indicates items may be cooked to order. Consuming raw or undercooked meats, poultry, seafood, shellfish, or eggs may increase your risk of foodborne illness</i></p>

  <br />
  <br />

  <h3 id="red">BURGERS</h3>
  <i>our *burgers are charbroiled seven ounce ground chuck seasoned patties, served on a toasted ciabatta bun with lettuce, tomato and onion All Burgers are served with one of the following: fries, potato salad, cole slaw, cottage cheese or baked beans</i>
  <br />
  <br />

  <i><strong>substitute house salad for 1.49, buffalo chips for .99, Onion Rings for 1.49</strong></i>


  <br />
  <br />

  <h5>* Hamburger</h5>
  <li>charbroiled beef patty: $7.99 topped</li>
  <li>with your choice of cheese: $8.99</li>

  <br />

  <h5>* Mushroom Burger: $9.99</h5>
  <i>our seven ounce burger smothered with mushrooms and a cheddar cheese blend. yum!!</i>

  <br />
  <br />

  <h5>* Patty Melt: $9.99</h5>
  <i>burger with sautéed onions, swiss cheese and a cheddar cheese blend, served on grilled marble rye</i>

  <br />
  <br />

  <h5>* Bacon Burger: $9.99</h5>
  <i>seven ounce charbroiled burger topped with bacon slices and a cheddar cheese blend</i>

  <br />
  <br />

  <div id="boxshadow" class="booyah-box col-10 offset-1 text-center">
    <h5 id="red">* Totally "Jack" Burger: $10.99</h5>
    <i>this juicy, charbroiled burger is topped with our jack sauce, mushrooms and pepperjack cheese</i>
  </div>

  <br />
  <br />

  <h3>HOMESTYLE PIZZA</h3>
  <i>please allow extra cook time for these masterpieces</i>

  <br />
  <br />

  <div id="boxshadow" class="booyah-box col-10 offset-1 text-center">
    <h5 id="red">The Drunk Italian</h5>
    <i>italian sausage, onions, mushrooms and peppers marinated in amber ale, topped with our blended cheeses. (sorry we cannot modify)</i>
    <li>10": $12.99</li>
    <li>16": $19.99</li>
  </div>

  <br />
  <h5>One Meat Topping</h5>
  <i>our cheese pie topped with your choice of one: hamburger, pepperoni, sausage or canadian bacon</i>
  <li>10": $10.99</li>
  <li>16": $18.99</li>
<i>Add even more meat $1.99 per topping or veggies $0.99 per topping</i>

  <br />
  <br />

  <h5>Pepper-Jackoroni</h5>
  <i>yes, you guessed it... pepperjack cheese, pepperoni and bell peppers</i>
  <li>10": $11.99</li>
  <li>16": $19.99</li>

  <br />

  <h5>Supreme Deluxe</h5>
  <i>this one is loaded with all of your favorites - a must try. mama mia, mama mia</i>
  <li>10": $11.99</li>
  <li>16": $19.99</li>

  <br />

  <h5>Hawaiian</h5>
  <i>a great choice for those pineapple lovers! topped with plenty of canadian bacon and pineapple</i>
  <li>10": $11.99</li>
  <li>16": $19.99</li>

  <br />

  <h5>Seven Cheese</h5>
  <i>mozzarella, provolone, romano, pepperjack, monterey jack, cheddar and parmesan cheese</i>
  <li>10": $10.99</li>
  <li>16": $17.99</li>

  <br />

  <h5>BBQ Chicken</h5>
  <i>a bbq sauce covered crust with diced chicken, red onion and our blended cheeses</i>
  <i>10": $11.99</i>
  <li>16": $19.99</li>

  <br />
  <br />

  <i>* Indicates items may be cooked to order *Consuming raw or undercooked meats, poultry, seafood, shellfish, or eggs may increase your risk of foodborne illness.</i>

  <br />
  <br />

  <h3 id="red">QUESADILLAS</h3>

  <br />
  <br />

  <h5>Three Cheese: $7.99</h5>
  <i>grilled flour tortilla stuffed with pepperjack, monterey jack and cheddar cheese</i>

  <br />
  <br />

  <div id="boxshadow" class="booyah-box col-10 offset-1 text-center">
    <h5 id="red">Three Pepper: $8.99</h5>
    <i>jalapeño peppers, red bell peppers and pepperjack cheese in a grilled flour tortilla</i>
    <li><strong>Add chicken</strong> for $0.99</li>
  </div>

  <br />
  <br />

  <h5>Chicken: $9.49</h5>
  <i>your choice of cajun seasoned, plain or any of our wing flavored chicken in a grilled flour tortilla filled with cheddar, pepperjack and monterey jack cheese</i>

  <br />
  <br />

  <h5>Beef and Cheese: $9.49</h5>
  <i>grilled flour tortilla filled with taco meat, cheddar, pepperjack and monterey cheese</i>

  <br />
  <br />

  <h3 id="red">SALADS</h3>

  <br />
  <br />

  <h5>Chicken Salad: $9.49</h5>
  <i>grilled chicken breast basted with your choice of one of our wing flavors, served on a bed of lettuce, cheese, tomatoes, cucumbers and onions, topped with crunchy tortilla strips and your choice of dressing</i>

  <br />
  <br />

  <h5>Taco Salad: $9.49</h5>
  <i>a bed of lettuce topped with taco meat, tomatoes, black olives, cheese, sour cream, guacamole and pico de gallo, served in a crisp flour tortilla bowl with your choice of dressing</i>

  <br />
  <br />

  <h5>House Salad: $3.99</h5>
  <i>a crisp bed of lettuce, onions, tomatoes, cucumbers and fried tortilla strips, served with your choice of dressing</i>

  <br />
  <br />

  <div id="boxshadow" class="booyah-box col-10 offset-1 text-center">
    <h5 id="red">Santa Fe Crispy Chicken: $9.49</h5>
    <i>chunks of crispy chicken, cheddar, pepperjack, monterey jack, pico and fresh fried tortilla strips on top of a bed of lettuce, served with your choice of dressing</i>
  </div>

  <br />
  <br />

  <h5>BLT Chicken Salad: $9.49</h5>
  <i>grilled chicken breast, diced tomato, diced bacon and cheese, served on a bed of lettuce, topped with crunchy tortilla strips and your choice of dressing</i>

  <br />
  <br />

  <i>dressings: ranch, fat free ranch, 1000 island, dorothy lynch, bleu cheese and honey mustard extra dressing: $0.50 </i>

  <br />
  <br />

  <h3>SANDWICHES</h3>
  <i>served with one: fries, mac & cheese, potato salad, cole slaw, baked beans or cottage cheese. Substitute a House Salad, Buffalo Chips for $1.00 or Onion Rings for $2.00.</i>


  <br />
  <br />

  <div id="boxshadow" class="booyah-box col-10 offset-1 text-center">
  <h5 id="red">Southwest Chicken Wrap</h5>
  <i>choice of grilled or crispy chicken, pepperjack cheese, pico de gallo and lettuce, all wrapped in a flour tortilla, served with ranch dressing </i>
  </div>

  <br />
  <br />

  <h5>Chicken Tender Basket: $9.99</h5>
  <i>not a sandwich, but it’s a classic!... chicken breast strips lightly breaded and fried to a golden brown </i>

  <br />
  <br />

  <h5>Chicken Tender Hoagie: $10.99</h5>
  <i>crispy chicken, bacon and pepperjack cheese, with lettuce and tomato </i>

  <br />
  <br />

  <h5>Reuben Sandwich: $9.99</h5>
  <i>corned beef, sauerkraut and swiss cheese on grilled rye bread</i>

  <br />
  <br />

  <h5>Club Wrap: $8.99</h5>
  <i>turkey, ham, bacon, lettuce, tomato and white american cheese all wrapped in a flour tortilla, served with ranch dressing</i>

  <br />
  <br />

  <h5>Pork Tenderloin: $9.99</h5>
  <i>breaded pork tenderloin served on a hoagie bun</i>
  <li>add cheese: $0.50</li>

  <br />
  <br />

  <h5 id="red">Pulled Pork: $8.99</h5>
  <i>shredded barbecue pork piled high on a brioche bun</i>

  <br />
  <br />

  <h5>Philly: $9.99</h5>
  <i>your choice of chicken or beef, grilled with onions, mushrooms and red bell peppers, topped with our blend of six cheeses</i>

  <br />
  <br />

  <h5>Club Sandwich: $8.99</h5>
  <i>slices of ham and turkey topped with bacon, lettuce, tomato and cheese, served on texas toast </i>

  <br />
  <br />

  <h5>Chicken Fried Steak: $9.49</h5>
  <i>breaded, tenderized beef steak served on a hoagie bun</i>

  <br />
  <br />

  <h5 id="red">Graziano Sausage: $9.99</h5>
  <i>Graziano sausage with red peppers, onions and pepperjack cheese, served on a hoagie bun</i>

  <br />
  <br />

  <h5>Prime Rib Sandwich: $11.49</h5>
  <i>a seven ounce slice of delicious prime rib, served on texas toast </i>

  <br />
  <br />

  <h5>Fish Sandwich: $10.99</h5>
  <i>tavern battered cod, fried golden brown, served with french fries and cole slaw (no substitutions)</i>

  <br />
  <br />

  <h5>Grilled Chicken: $9.99</h5>
  <i>grilled with your choice of wing flavor, served on ciabatta bun </i>

  <br />
  <br />

  <h5>Buffalo Chicken: $9.99</h5>
  <i>a crispy breaded chicken breast coated with our medium wing sauce, served on a ciabatta bun</i>

  <br />
  <br />
------------------------------------------------------------------------------------------
  <%= image_tag("kidsmenu.jpg", alt: "logo", class: 'card-img-top img-fluid') %>
</div>
