<br />
<br />
<div id ="shadow" class="booyah-box col-10 offset-1 text-center">
  <%= image_tag("chickencooplogo.png", alt: "logo", class: "image-class", size: "150") %>
  <h3>Contact Us</h3>
------------------------
  <br />
  <h5 id="color">If you have any questions or would like to book a party, please let us know at:</h5>
  <br>
  <h6>Chicken Coop</h6>
  <h6>1960 Grand Ave #23</h6>
  <h6>West Desmoines, IA 50265</h6>
  <h6>Phone: (515) 223-0088</h6>

  <br />

  <ol id="color">Dawn Beister (Owner Manager)</ol>
  <ol id="color">Ken Beister (Owner Manager)</ol>
</div>
