@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

.navbar {
  font-family: 'Libre Baskerville', serif;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('country-quilt-dark.png');
  margin-bottom: 0;
}

.navbar-inverse a.navbar-brand {
  font-family: 'Libre Baskerville', serif;
  font-weight: 100;
  color: white;
}

.hero {
  background: image_url('hero3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

body {
  background: image_url('oriental.png');
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flex-content-container {
  flex: 1;
}

#footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: rgba(36, 32, 33, 0.9);
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  padding: 10px 0px;
  margin-top: 30px;
}

#footer a {
  color: white;
  font-weight: 100;
}

.card {
  margin-bottom: 10px;
  box-shadow: 0px 3px 8px #2a2a2a;
  background-clip: content-box;
}

.image-class {
  height: 150px;
  border-radius: 50px;
  border-style: solid;
  border-color: white;
}

.style {
  border-radius: 50px;
  border-style: solid;
  border-color: white;
}

.sports {
  background: image_url('SPORTS.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

#red {
  color: #ba1d2d;
}

#boxshadow {
  box-shadow: 0px 3px 8px #ba1d2d;
}

.flex-start {
  -webkit-align-items: flex-start;
  align-items: flex-start;
  float: left;

}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.space-evenly {
  justify-content: space-evenly;
}

.picture {
  background: image_url('aboutus.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

#shadow {
  box-shadow: 0px 3px 8px #2a2a2a;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  height: 550px;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  max-height: 550px;
  width: 100%;
}

.carousel-caption {
  font-family: 'Libre Baskerville', serif;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  left: 0;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}

#color {
  color: #127a2f;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100%;
}

.footer-blurb {
   font-family: 'Libre Baskerville', serif;  font-style: italic;
   text-align: right;
   font-size: 10px;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 16px;
    box-shadow: 0px 3px 8px #2a2a2a;
}

.btn-primary {
  font-family: 'Libre Baskerville', serif;
  color: white;
  background-color: #9b0404;
  border: #000000;
  text-decoration: #9b0404;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.btn-primary:hover {
    background-color: #000000 !important;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}
