<!DOCTYPE html>
<html>
  <head>
    <title>Chickencoop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= image_tag("chickencooplogo.png", alt: "logo", size: 30, class: 'd-inline-block align-top') %>
        <%= link_to 'Chicken Coop', root_url, class: 'navbar-brand' %>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          </ul>
          <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to 'About Us', about_url, class:'nav-link' %>
              </li>

              <li class="nav-item">
                <%= link_to 'Join us!', join_url, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sport Links', sports_url, class: 'nav-link' %>
              </li>
          </ul>
        </div>
      </nav>


      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

    <%= yield %>
    <%= render "static_pages/footer" unless @skip_footer %>
  </body>
</html>
